name: Deployment (Container)
on:
  push:
    branches:
      - main
jobs:
  test:
    environment: testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: echo "Running tests..."

  Build-deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.AZURE_ACR_LOGIN_SERVER }}
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}
      - name: Log in to Azure Container Registry
            

      - name: Build Docker image
        run: docker build -t ${{ secrets.AZURE_ACR_LOGIN_SERVER }}/my-app:${{ github.ref_name }} .

      - name: Push Docker image
        run: docker push ${{ secrets.AZURE_ACR_LOGIN_SERVER }}/my-app:${{ github.ref_name }}

      - name: Deploy to server
        run: echo "Deploying to server..."

